In [25]:
import numpy as np
import pandas as pd
from libs import common

from importlib import reload

Concatenate `train` and `test` datasets to extract temporal features

In [11]:
hist = pd.read_csv('./data/Historical_Data.csv', parse_dates=['Date'], index_col='Date')
test = pd.read_csv('./data/Evaluation_Data.csv', parse_dates=['Date'], index_col='Date')

In [23]:
comb = pd.concat([hist, test], axis='index')

,TS_ID,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,Target
Date,,,,,,,,,,,,,,,,,
2017-01-01,TS4,ABC0,XYZ1,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,0.0,0.0,488.0,0.0,0.0,2683.0,5.0
2017-01-01,TS5,ABC0,XYZ1,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,0.0,0.0,488.0,0.0,0.0,2683.0,5.0
2017-01-01,TS6,ABC2,XYZ7,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,0.0,0.0,488.0,0.0,0.0,2683.0,28.0
2017-01-01,TS7,ABC2,XYZ7,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,0.0,0.0,488.0,0.0,0.0,2683.0,134.0
2017-01-01,TS9,ABC2,XYZ6,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,0.0,0.0,488.0,0.0,0.0,2683.0,37.0

In [27]:
common.create_temporal_features(comb)
comb.head(3)

,TS_ID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,sin_dow,cos_dow,sin_woy,cos_woy,sin_doy,cos_doy,sin_moy,cos_moy,sin_qtr,cos_qtr
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,TS4,ABC0,XYZ1,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,-2.449294e-16,1.0,0.0,1.0,0.017213,0.999852,0.5,0.866025,1.0,6.123234e-17
2017-01-01,TS5,ABC0,XYZ1,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,-2.449294e-16,1.0,0.0,1.0,0.017213,0.999852,0.5,0.866025,1.0,6.123234e-17
2017-01-01,TS6,ABC2,XYZ7,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,-2.449294e-16,1.0,0.0,1.0,0.017213,0.999852,0.5,0.866025,1.0,6.123234e-17

In [40]:
reload(common)

comb = common.define_holidays(comb)
comb.head(3)

           TS_ID    V2    V3      V4      V5   V6      V7   V8   V9  V10  ...  \
2017-01-01   TS4  ABC0  XYZ1  4390.0  2683.0  0.0  3171.0  0.0  0.0  0.0  ...
2017-01-01   TS5  ABC0  XYZ1  4390.0  2683.0  0.0  3171.0  0.0  0.0  0.0  ...
2017-01-01   TS6  ABC2  XYZ7  4390.0  2683.0  0.0  3171.0  0.0  0.0  0.0  ...

             sin_doy   cos_doy  sin_moy   cos_moy  sin_qtr       cos_qtr  \
2017-01-01  0.017213  0.999852      0.5  0.866025      1.0  6.123234e-17
2017-01-01  0.017213  0.999852      0.5  0.866025      1.0  6.123234e-17
2017-01-01  0.017213  0.999852      0.5  0.866025      1.0  6.123234e-17

            is_weekend  holiday  is_nat_holiday  is_holiday
2017-01-01           1      NaN               0           1
2017-01-01           1      NaN               0           1
2017-01-01           1      NaN               0           1

[3 rows x 36 columns]

,TS_ID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,cos_woy,sin_doy,cos_doy,sin_moy,cos_moy,sin_qtr,cos_qtr,is_weekend,is_nat_holiday,is_holiday
2017-01-01,TS4,ABC0,XYZ1,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,1.0,0.017213,0.999852,0.5,0.866025,1.0,6.123234e-17,1,0,1
2017-01-01,TS5,ABC0,XYZ1,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,1.0,0.017213,0.999852,0.5,0.866025,1.0,6.123234e-17,1,0,1
2017-01-01,TS6,ABC2,XYZ7,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,1.0,0.017213,0.999852,0.5,0.866025,1.0,6.123234e-17,1,0,1

In [45]:
reload(common)

common.holidays_in_N_days(comb, 10)
comb.head(3)

,TS_ID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,sin_doy,cos_doy,sin_moy,cos_moy,sin_qtr,cos_qtr,is_weekend,is_nat_holiday,is_holiday,holidays_in_last_10_days
2017-01-01,TS4,ABC0,XYZ1,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.017213,0.999852,0.5,0.866025,1.0,6.123234e-17,1,0,1,NaN
2017-01-01,TS5,ABC0,XYZ1,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.017213,0.999852,0.5,0.866025,1.0,6.123234e-17,1,0,1,1.0
2017-01-01,TS6,ABC2,XYZ7,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.017213,0.999852,0.5,0.866025,1.0,6.123234e-17,1,0,1,2.0

In [62]:
reload(common)

gb = comb.groupby('TS_ID').apply(common.create_lags, 'Target', 6)
gb.head(20)

,TS_ID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,sin_moy,cos_moy,sin_qtr,cos_qtr,is_weekend,is_nat_holiday,is_holiday,holidays_in_last_10_days,t-5,t-6
2017-01-01,TS13,ABC2,XYZ7,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,1,0,1,5.0,5.0,NaN
2017-01-01,TS18,ABC1,XYZ4,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,1,0,1,6.0,5.0,NaN
2017-01-01,TS19,ABC1,XYZ4,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,1,0,1,7.0,28.0,NaN
2017-01-01,TS20,ABC0,XYZ1,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,1,0,1,8.0,134.0,NaN
2017-01-01,TS4,ABC0,XYZ1,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,1,0,1,NaN,NaN,NaN
2017-01-01,TS5,ABC0,XYZ1,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,1,0,1,1.0,NaN,NaN
2017-01-01,TS6,ABC2,XYZ7,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,1,0,1,2.0,NaN,NaN
2017-01-01,TS7,ABC2,XYZ7,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,1,0,1,3.0,NaN,NaN
2017-01-01,TS9,ABC2,XYZ6,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,1,0,1,4.0,NaN,NaN
2017-01-02,TS0,ABC0,XYZ2,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,0,1,1,9.0,37.0,NaN
2017-01-02,TS10,ABC2,XYZ6,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,0,1,1,13.0,4.0,NaN
2017-01-02,TS13,ABC2,XYZ7,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,0,1,1,14.0,125.0,NaN
2017-01-02,TS14,ABC1,XYZ3,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,0,1,1,15.0,40.0,NaN
2017-01-02,TS15,ABC1,XYZ4,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,0,1,1,16.0,397.0,NaN
2017-01-02,TS16,ABC1,XYZ5,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,0,1,1,17.0,21.0,NaN
2017-01-02,TS18,ABC1,XYZ4,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,0,1,1,18.0,616.0,NaN
2017-01-02,TS6,ABC2,XYZ7,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,0,1,1,10.0,104.0,NaN
2017-01-02,TS7,ABC2,XYZ7,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,0,1,1,11.0,25.0,NaN
2017-01-02,TS9,ABC2,XYZ6,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,0.5,0.866025,1.0,6.123234e-17,0,1,1,12.0,191.0,NaN
2017-01-03,TS0,ABC0,XYZ2,5639.0,2131.0,1607.0,787.0,328.0,1672.0,1016.0,...,0.5,0.866025,1.0,6.123234e-17,0,0,0,19.0,53.0,NaN

In [179]:
reload(common)

a = gb.groupby('TS_ID').apply(common.rolling_mean, 'Target', 5)
a.head(3)

,TS_ID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,cos_moy,sin_qtr,cos_qtr,is_weekend,is_nat_holiday,is_holiday,holidays_in_last_10_days,t-5,t-6,5_day_rolling_mean
2017-01-01,TS13,ABC2,XYZ7,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.866025,1.0,6.123234e-17,1,0,1,5.0,5.0,NaN,NaN
2017-01-01,TS18,ABC1,XYZ4,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.866025,1.0,6.123234e-17,1,0,1,6.0,5.0,NaN,NaN
2017-01-01,TS19,ABC1,XYZ4,4390.0,2683.0,0.0,3171.0,0.0,0.0,0.0,...,0.866025,1.0,6.123234e-17,1,0,1,7.0,28.0,NaN,NaN

In [75]:
a.loc[a['TS_ID']=='TS0', ['Target', '5_day_rolling_mean']]

            Target  5_day_rolling_mean
2017-01-02   125.0                 NaN
2017-01-03   672.0              125.00
2017-01-04   892.0              398.50
2017-01-05    80.0              563.00
2017-01-06   529.0              442.25
...            ...                 ...
2020-01-27     NaN                 NaN
2020-01-28     NaN                 NaN
2020-01-29     NaN                 NaN
2020-01-30     NaN                 NaN
2020-01-31     NaN                 NaN

[896 rows x 2 columns]

In [178]:
reload(common)

b = a.groupby('TS_ID', group_keys=False).apply(common.reindex_by_date, '2017-01-01', '2020-01-31', 'TS_ID')

0    TS0
dtype: object
0    TS1
dtype: object
0    TS10
dtype: object
0    TS11
dtype: object
0    TS12
dtype: object
0    TS13
dtype: object
0    TS14
dtype: object
0    TS15
dtype: object
0    TS16
dtype: object
0    TS17
dtype: object
0    TS18
dtype: object
0    TS19
dtype: object
0    TS2
dtype: object
0    TS20
dtype: object
0    TS3
dtype: object
0    TS4
dtype: object
0    TS5
dtype: object
0    TS6
dtype: object
0    TS7
dtype: object
0    TS8
dtype: object
0    TS9
dtype: object

In [174]:
b['TS_ID'].value_counts(dropna=False)

NaN    23646
Name: TS_ID, dtype: int64

In [169]:
b.loc[b['TS_ID']=='TS1'].head(50)

,TS_ID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,cos_moy,sin_qtr,cos_qtr,is_weekend,is_nat_holiday,is_holiday,holidays_in_last_10_days,t-5,t-6,5_day_rolling_mean
2017-01-03,TS1,ABC0,XYZ2,5639.0,2131.0,1607.0,787.0,328.0,1672.0,1016.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,19.0,25.0,0.0,0.000000
2017-01-04,TS1,ABC0,XYZ2,6332.0,1504.0,1425.0,158.0,317.0,1583.0,369.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,19.0,120.0,0.0,3218.000000
2017-01-05,TS1,ABC0,XYZ2,6063.0,1365.0,1937.0,222.0,286.0,1079.0,698.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,19.0,97.0,0.0,2989.000000
2017-01-06,TS1,ABC0,XYZ2,5411.0,2785.0,1108.0,918.0,918.0,1234.0,696.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,19.0,98.0,0.0,1885.333333
2017-01-07,TS1,ABC0,XYZ2,7821.0,1026.0,128.0,1282.0,0.0,2179.0,128.0,...,8.660254e-01,1.0,6.123234e-17,1.0,0.0,1.0,20.0,154.0,0.0,2249.750000
2017-01-09,TS1,ABC0,XYZ2,5484.0,2375.0,1496.0,59.0,792.0,1672.0,1320.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,45.0,27.0,3218.0,1295.000000
2017-01-10,TS1,ABC0,XYZ2,6703.0,1063.0,1608.0,490.0,736.0,1335.0,436.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,45.0,75.0,2760.0,1212.000000
2017-01-11,TS1,ABC0,XYZ2,6129.0,1848.0,1554.0,411.0,821.0,1466.0,909.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,45.0,179.0,-322.0,802.500000
2017-01-12,TS1,ABC0,XYZ2,5855.0,1513.0,1645.0,493.0,428.0,1678.0,592.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,36.0,235.0,3343.0,69.000000
2017-01-13,TS1,ABC0,XYZ2,6425.0,1559.0,1667.0,538.0,565.0,1102.0,269.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,26.0,479.0,-601.0,835.250000
2017-01-16,TS1,ABC0,XYZ2,6331.0,1450.0,1598.0,207.0,533.0,1331.0,621.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,49.0,26.0,-1960.0,2597.666667
2017-01-17,TS1,ABC0,XYZ2,5439.0,2222.0,1550.0,263.0,965.0,1170.0,731.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,49.0,23.0,409.0,2443.000000
2017-01-18,TS1,ABC0,XYZ2,7278.0,1124.0,828.0,89.0,621.0,1420.0,917.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,37.0,146.0,2464.0,1546.000000
2017-01-19,TS1,ABC0,XYZ2,6981.0,778.0,1580.0,566.0,425.0,1486.0,330.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,23.0,132.0,4920.0,179.666667
2017-01-20,TS1,ABC0,XYZ2,5657.0,1800.0,1971.0,943.0,486.0,914.0,400.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,23.0,461.0,0.0,627.750000
2017-01-21,TS1,ABC0,XYZ2,7302.0,1270.0,0.0,1429.0,0.0,635.0,317.0,...,8.660254e-01,1.0,6.123234e-17,1.0,0.0,1.0,23.0,181.0,0.0,1069.400000
2017-01-23,TS1,ABC0,XYZ2,6333.0,1750.0,1194.0,167.0,500.0,1806.0,694.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,50.0,53.0,-227.0,1528.500000
2017-01-24,TS1,ABC0,XYZ2,6387.0,949.0,2409.0,146.0,0.0,1241.0,401.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,50.0,124.0,821.0,2193.500000
2017-01-25,TS1,ABC0,XYZ2,5907.0,2005.0,1593.0,522.0,879.0,1236.0,467.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,33.0,23.0,1972.0,1801.000000
2017-01-26,TS1,ABC0,XYZ2,4310.0,2254.0,2338.0,169.0,817.0,930.0,1211.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,27.0,232.0,2836.0,1237.250000
2017-01-27,TS1,ABC0,XYZ2,5215.0,1815.0,2508.0,231.0,429.0,957.0,1023.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,27.0,369.0,485.0,2242.750000
2017-01-28,TS1,ABC0,XYZ2,7264.0,849.0,0.0,755.0,0.0,1132.0,0.0,...,8.660254e-01,1.0,6.123234e-17,1.0,0.0,1.0,28.0,163.0,0.0,2369.200000
2017-01-30,TS1,ABC0,XYZ2,5125.0,1253.0,3008.0,28.0,613.0,1476.0,390.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,52.0,55.0,402.0,1835.250000
2017-01-31,TS1,ABC0,XYZ2,3819.0,3928.0,1108.0,169.0,205.0,843.0,1843.0,...,8.660254e-01,1.0,6.123234e-17,0.0,0.0,0.0,52.0,27.0,581.0,1806.250000
2017-02-01,TS1,ABC0,XYZ2,7059.0,1434.0,809.0,368.0,1618.0,956.0,331.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,35.0,118.0,4507.0,864.500000
2017-02-02,TS1,ABC0,XYZ2,4489.0,2883.0,1496.0,255.0,328.0,1058.0,1715.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,25.0,100.0,2875.0,-81.000000
2017-02-03,TS1,ABC0,XYZ2,5514.0,2343.0,1171.0,1029.0,343.0,1771.0,1057.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,25.0,407.0,-622.0,1199.000000
2017-02-05,TS1,ABC0,XYZ2,5577.0,2692.0,0.0,2500.0,962.0,0.0,0.0,...,5.000000e-01,1.0,6.123234e-17,1.0,0.0,1.0,38.0,143.0,465.0,1352.750000
2017-02-06,TS1,ABC0,XYZ2,5572.0,1439.0,1845.0,37.0,738.0,1218.0,849.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,47.0,1.0,740.0,1380.750000
2017-02-07,TS1,ABC0,XYZ2,5688.0,942.0,2681.0,326.0,471.0,1812.0,181.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,47.0,98.0,-907.0,2594.250000
2017-02-08,TS1,ABC0,XYZ2,6070.0,2702.0,807.0,526.0,281.0,947.0,526.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,30.0,40.0,4498.0,1402.750000
2017-02-09,TS1,ABC0,XYZ2,4524.0,2381.0,1984.0,198.0,476.0,1746.0,595.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,22.0,277.0,1080.0,1011.000000
2017-02-10,TS1,ABC0,XYZ2,5544.0,1769.0,1531.0,646.0,1395.0,578.0,884.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,22.0,117.0,0.0,1185.000000
2017-02-13,TS1,ABC0,XYZ2,5000.0,3119.0,644.0,50.0,1485.0,2030.0,2772.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,48.0,21.0,-268.0,700.333333
2017-02-14,TS1,ABC0,XYZ2,5732.0,1752.0,2229.0,669.0,382.0,1847.0,350.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,48.0,281.0,-487.0,990.000000
2017-02-15,TS1,ABC0,XYZ2,5793.0,1402.0,2472.0,258.0,185.0,1144.0,74.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,35.0,184.0,1881.0,902.000000
2017-02-16,TS1,ABC0,XYZ2,5083.0,1889.0,2111.0,528.0,306.0,1278.0,528.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,26.0,131.0,707.0,978.000000
2017-02-17,TS1,ABC0,XYZ2,5854.0,1916.0,1603.0,348.0,383.0,1010.0,1289.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,26.0,33.0,0.0,1726.250000
2017-02-20,TS1,ABC0,XYZ2,7679.0,357.0,1250.0,714.0,179.0,238.0,60.0,...,5.000000e-01,1.0,6.123234e-17,0.0,1.0,1.0,49.0,168.0,1617.0,1971.333333
2017-02-21,TS1,ABC0,XYZ2,5398.0,1818.0,1875.0,170.0,653.0,1080.0,1193.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,68.0,110.0,935.0,2054.666667
2017-02-22,TS1,ABC0,XYZ2,5051.0,1582.0,2391.0,303.0,539.0,741.0,572.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,52.0,93.0,3971.0,1209.333333
2017-02-23,TS1,ABC0,XYZ2,6311.0,1441.0,1844.0,490.0,317.0,1210.0,461.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,42.0,510.0,1008.0,873.000000
2017-02-24,TS1,ABC0,XYZ2,4820.0,1551.0,3213.0,222.0,277.0,665.0,637.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,42.0,307.0,0.0,561.000000
2017-02-25,TS1,ABC0,XYZ2,5000.0,833.0,3167.0,833.0,0.0,583.0,0.0,...,5.000000e-01,1.0,6.123234e-17,1.0,0.0,1.0,43.0,122.0,0.0,1140.800000
2017-02-27,TS1,ABC0,XYZ2,5090.0,1476.0,2982.0,361.0,813.0,1114.0,361.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,70.0,1.0,1435.0,952.750000
2017-02-28,TS1,ABC0,XYZ2,3773.0,3758.0,1364.0,167.0,242.0,667.0,1803.0,...,5.000000e-01,1.0,6.123234e-17,0.0,0.0,0.0,70.0,119.0,-1.0,1814.500000
2017-03-01,TS1,ABC0,XYZ2,6393.0,1443.0,1213.0,295.0,230.0,1180.0,361.0,...,6.123234e-17,1.0,6.123234e-17,0.0,0.0,0.0,56.0,109.0,-375.0,2696.500000
2017-03-02,TS1,ABC0,XYZ2,5956.0,1379.0,2006.0,658.0,282.0,564.0,721.0,...,6.123234e-17,1.0,6.123234e-17,0.0,0.0,0.0,48.0,108.0,3460.0,2285.750000
2017-03-03,TS1,ABC0,XYZ2,6517.0,1586.0,1552.0,241.0,414.0,1793.0,552.0,...,6.123234e-17,1.0,6.123234e-17,0.0,0.0,0.0,28.0,22.0,727.0,1873.500000
2017-03-06,TS1,ABC0,XYZ2,7336.0,927.0,1042.0,309.0,734.0,1004.0,425.0,...,6.123234e-17,1.0,6.123234e-17,0.0,0.0,0.0,48.0,45.0,3153.0,1083.666667

In [180]:
b = a.groupby('TS_ID', group_keys=False)
date_range = pd.date_range('2017-01-01', '2020-01-31', freq='D')

df_list = []

for key, group in b:
    # df = group.asfreq('D')
    df = group.reindex(date_range)
    print(key)
    df['TS_ID'] = key   
    df_list.append(df)
    
df = pd.concat(df_list)

TS0
TS1
TS10
TS11
TS12
TS13
TS14
TS15
TS16
TS17
TS18
TS19
TS2
TS20
TS3
TS4
TS5
TS6
TS7
TS8
TS9

In [183]:
df['TS_ID'].value_counts(dropna=False)

TS0     1126
TS19    1126
TS8     1126
TS7     1126
TS6     1126
TS5     1126
TS4     1126
TS3     1126
TS20    1126
TS2     1126
TS18    1126
TS1     1126
TS17    1126
TS16    1126
TS15    1126
TS14    1126
TS13    1126
TS12    1126
TS11    1126
TS10    1126
TS9     1126
Name: TS_ID, dtype: int64

In [155]:
df['TS_ID'].isnull().sum()

0

In [184]:
df.loc[df['TS_ID']=='TS1'].head(50)

,TS_ID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,cos_moy,sin_qtr,cos_qtr,is_weekend,is_nat_holiday,is_holiday,holidays_in_last_10_days,t-5,t-6,5_day_rolling_mean
2017-01-01,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-02,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-03,TS1,ABC0,XYZ2,5639.0,2131.0,1607.0,787.0,328.0,1672.0,1016.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,19.0,25.0,NaN,NaN
2017-01-04,TS1,ABC0,XYZ2,6332.0,1504.0,1425.0,158.0,317.0,1583.0,369.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,19.0,120.0,NaN,3218.000000
2017-01-05,TS1,ABC0,XYZ2,6063.0,1365.0,1937.0,222.0,286.0,1079.0,698.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,19.0,97.0,NaN,2989.000000
2017-01-06,TS1,ABC0,XYZ2,5411.0,2785.0,1108.0,918.0,918.0,1234.0,696.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,19.0,98.0,NaN,1885.333333
2017-01-07,TS1,ABC0,XYZ2,7821.0,1026.0,128.0,1282.0,0.0,2179.0,128.0,...,0.866025,1.0,6.123234e-17,1.0,0.0,1.0,20.0,154.0,NaN,2249.750000
2017-01-08,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-09,TS1,ABC0,XYZ2,5484.0,2375.0,1496.0,59.0,792.0,1672.0,1320.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,45.0,27.0,3218.0,1295.000000
2017-01-10,TS1,ABC0,XYZ2,6703.0,1063.0,1608.0,490.0,736.0,1335.0,436.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,45.0,75.0,2760.0,1212.000000
2017-01-11,TS1,ABC0,XYZ2,6129.0,1848.0,1554.0,411.0,821.0,1466.0,909.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,45.0,179.0,-322.0,802.500000
2017-01-12,TS1,ABC0,XYZ2,5855.0,1513.0,1645.0,493.0,428.0,1678.0,592.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,36.0,235.0,3343.0,69.000000
2017-01-13,TS1,ABC0,XYZ2,6425.0,1559.0,1667.0,538.0,565.0,1102.0,269.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,26.0,479.0,-601.0,835.250000
2017-01-14,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-15,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-16,TS1,ABC0,XYZ2,6331.0,1450.0,1598.0,207.0,533.0,1331.0,621.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,49.0,26.0,-1960.0,2597.666667
2017-01-17,TS1,ABC0,XYZ2,5439.0,2222.0,1550.0,263.0,965.0,1170.0,731.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,49.0,23.0,409.0,2443.000000
2017-01-18,TS1,ABC0,XYZ2,7278.0,1124.0,828.0,89.0,621.0,1420.0,917.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,37.0,146.0,2464.0,1546.000000
2017-01-19,TS1,ABC0,XYZ2,6981.0,778.0,1580.0,566.0,425.0,1486.0,330.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,23.0,132.0,4920.0,179.666667
2017-01-20,TS1,ABC0,XYZ2,5657.0,1800.0,1971.0,943.0,486.0,914.0,400.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,23.0,461.0,NaN,627.750000
2017-01-21,TS1,ABC0,XYZ2,7302.0,1270.0,0.0,1429.0,0.0,635.0,317.0,...,0.866025,1.0,6.123234e-17,1.0,0.0,1.0,23.0,181.0,NaN,1069.400000
2017-01-22,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-23,TS1,ABC0,XYZ2,6333.0,1750.0,1194.0,167.0,500.0,1806.0,694.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,50.0,53.0,-227.0,1528.500000
2017-01-24,TS1,ABC0,XYZ2,6387.0,949.0,2409.0,146.0,0.0,1241.0,401.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,50.0,124.0,821.0,2193.500000
2017-01-25,TS1,ABC0,XYZ2,5907.0,2005.0,1593.0,522.0,879.0,1236.0,467.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,33.0,23.0,1972.0,1801.000000
2017-01-26,TS1,ABC0,XYZ2,4310.0,2254.0,2338.0,169.0,817.0,930.0,1211.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,27.0,232.0,2836.0,1237.250000
2017-01-27,TS1,ABC0,XYZ2,5215.0,1815.0,2508.0,231.0,429.0,957.0,1023.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,27.0,369.0,485.0,2242.750000
2017-01-28,TS1,ABC0,XYZ2,7264.0,849.0,0.0,755.0,0.0,1132.0,0.0,...,0.866025,1.0,6.123234e-17,1.0,0.0,1.0,28.0,163.0,NaN,2369.200000
2017-01-29,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-30,TS1,ABC0,XYZ2,5125.0,1253.0,3008.0,28.0,613.0,1476.0,390.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,52.0,55.0,402.0,1835.250000
2017-01-31,TS1,ABC0,XYZ2,3819.0,3928.0,1108.0,169.0,205.0,843.0,1843.0,...,0.866025,1.0,6.123234e-17,0.0,0.0,0.0,52.0,27.0,581.0,1806.250000
2017-02-01,TS1,ABC0,XYZ2,7059.0,1434.0,809.0,368.0,1618.0,956.0,331.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,35.0,118.0,4507.0,864.500000
2017-02-02,TS1,ABC0,XYZ2,4489.0,2883.0,1496.0,255.0,328.0,1058.0,1715.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,25.0,100.0,2875.0,-81.000000
2017-02-03,TS1,ABC0,XYZ2,5514.0,2343.0,1171.0,1029.0,343.0,1771.0,1057.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,25.0,407.0,-622.0,1199.000000
2017-02-04,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-05,TS1,ABC0,XYZ2,5577.0,2692.0,0.0,2500.0,962.0,0.0,0.0,...,0.500000,1.0,6.123234e-17,1.0,0.0,1.0,38.0,143.0,465.0,1352.750000
2017-02-06,TS1,ABC0,XYZ2,5572.0,1439.0,1845.0,37.0,738.0,1218.0,849.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,47.0,1.0,740.0,1380.750000
2017-02-07,TS1,ABC0,XYZ2,5688.0,942.0,2681.0,326.0,471.0,1812.0,181.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,47.0,98.0,-907.0,2594.250000
2017-02-08,TS1,ABC0,XYZ2,6070.0,2702.0,807.0,526.0,281.0,947.0,526.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,30.0,40.0,4498.0,1402.750000
2017-02-09,TS1,ABC0,XYZ2,4524.0,2381.0,1984.0,198.0,476.0,1746.0,595.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,22.0,277.0,1080.0,1011.000000
2017-02-10,TS1,ABC0,XYZ2,5544.0,1769.0,1531.0,646.0,1395.0,578.0,884.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,22.0,117.0,NaN,1185.000000
2017-02-11,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-12,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-13,TS1,ABC0,XYZ2,5000.0,3119.0,644.0,50.0,1485.0,2030.0,2772.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,48.0,21.0,-268.0,700.333333
2017-02-14,TS1,ABC0,XYZ2,5732.0,1752.0,2229.0,669.0,382.0,1847.0,350.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,48.0,281.0,-487.0,990.000000
2017-02-15,TS1,ABC0,XYZ2,5793.0,1402.0,2472.0,258.0,185.0,1144.0,74.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,35.0,184.0,1881.0,902.000000
2017-02-16,TS1,ABC0,XYZ2,5083.0,1889.0,2111.0,528.0,306.0,1278.0,528.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,26.0,131.0,707.0,978.000000
2017-02-17,TS1,ABC0,XYZ2,5854.0,1916.0,1603.0,348.0,383.0,1010.0,1289.0,...,0.500000,1.0,6.123234e-17,0.0,0.0,0.0,26.0,33.0,NaN,1726.250000
2017-02-18,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-19,TS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
reload(common)

b = df.groupby('TS_ID').apply(common.momentum, 'Target', 10)
b.head(20)

,TS_ID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,sin_qtr,cos_qtr,is_weekend,is_nat_holiday,is_holiday,holidays_in_last_10_days,t-5,t-6,5_day_rolling_mean,M10
2017-01-01,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-02,TS0,ABC0,XYZ2,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,1.0,6.123234e-17,0.0,1.0,1.0,9.0,37.0,NaN,NaN,NaN
2017-01-03,TS0,ABC0,XYZ2,5639.0,2131.0,1607.0,787.0,328.0,1672.0,1016.0,...,1.0,6.123234e-17,0.0,0.0,0.0,19.0,53.0,NaN,125.000000,NaN
2017-01-04,TS0,ABC0,XYZ2,6332.0,1504.0,1425.0,158.0,317.0,1583.0,369.0,...,1.0,6.123234e-17,0.0,0.0,0.0,19.0,283.0,NaN,398.500000,NaN
2017-01-05,TS0,ABC0,XYZ2,6063.0,1365.0,1937.0,222.0,286.0,1079.0,698.0,...,1.0,6.123234e-17,0.0,0.0,0.0,19.0,313.0,NaN,563.000000,NaN
2017-01-06,TS0,ABC0,XYZ2,5411.0,2785.0,1108.0,918.0,918.0,1234.0,696.0,...,1.0,6.123234e-17,0.0,0.0,0.0,19.0,67.0,NaN,442.250000,NaN
2017-01-07,TS0,ABC0,XYZ2,7821.0,1026.0,128.0,1282.0,0.0,2179.0,128.0,...,1.0,6.123234e-17,1.0,0.0,1.0,19.0,10.0,NaN,459.600000,NaN
2017-01-08,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-09,TS0,ABC0,XYZ2,5484.0,2375.0,1496.0,59.0,792.0,1672.0,1320.0,...,1.0,6.123234e-17,0.0,0.0,0.0,45.0,20.0,672.0,338.500000,NaN
2017-01-10,TS0,ABC0,XYZ2,6703.0,1063.0,1608.0,490.0,736.0,1335.0,436.0,...,1.0,6.123234e-17,0.0,0.0,0.0,45.0,322.0,892.0,648.500000,NaN
2017-01-11,TS0,ABC0,XYZ2,6129.0,1848.0,1554.0,411.0,821.0,1466.0,909.0,...,1.0,6.123234e-17,0.0,0.0,0.0,45.0,170.0,80.0,593.500000,NaN
2017-01-12,TS0,ABC0,XYZ2,5855.0,1513.0,1645.0,493.0,428.0,1678.0,592.0,...,1.0,6.123234e-17,0.0,0.0,0.0,36.0,2.0,529.0,592.750000,401.0
2017-01-13,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,457.0
2017-01-14,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-15,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-16,TS0,ABC0,XYZ2,6331.0,1450.0,1598.0,207.0,533.0,1331.0,621.0,...,1.0,6.123234e-17,0.0,0.0,0.0,49.0,442.0,-140.0,827.500000,NaN
2017-01-17,TS0,ABC0,XYZ2,5439.0,2222.0,1550.0,263.0,965.0,1170.0,731.0,...,1.0,6.123234e-17,0.0,0.0,0.0,49.0,390.0,526.0,516.500000,51.0
2017-01-18,TS0,ABC0,XYZ2,7278.0,1124.0,828.0,89.0,621.0,1420.0,917.0,...,1.0,6.123234e-17,0.0,0.0,0.0,37.0,7.0,1129.0,1090.000000,NaN
2017-01-19,TS0,ABC0,XYZ2,6981.0,778.0,1580.0,566.0,425.0,1486.0,330.0,...,1.0,6.123234e-17,0.0,0.0,0.0,23.0,203.0,NaN,873.666667,-1691.0
2017-01-20,TS0,ABC0,XYZ2,5657.0,1800.0,1971.0,943.0,486.0,914.0,400.0,...,1.0,6.123234e-17,0.0,0.0,0.0,23.0,153.0,NaN,660.500000,161.0

In [186]:
b.loc[df['TS_ID']=='TS1', ['Target', 'M10']].head(50)

            Target     M10
2017-01-01     NaN     NaN
2017-01-02     NaN     NaN
2017-01-03  3218.0     NaN
2017-01-04  2760.0     NaN
2017-01-05  -322.0     NaN
2017-01-06  3343.0     NaN
2017-01-07  -601.0     NaN
2017-01-08     NaN     NaN
2017-01-09  2428.0     NaN
2017-01-10 -1960.0     NaN
2017-01-11   409.0     NaN
2017-01-12  2464.0     NaN
2017-01-13  4920.0  -754.0
2017-01-14     NaN  2160.0
2017-01-15     NaN     NaN
2017-01-16   -55.0     NaN
2017-01-17  -227.0   546.0
2017-01-18   821.0     NaN
2017-01-19  1972.0 -1607.0
2017-01-20  2836.0  3932.0
2017-01-21   485.0  2427.0
2017-01-22     NaN -1979.0
2017-01-23  3481.0     NaN
2017-01-24   402.0     NaN
2017-01-25   581.0     NaN
2017-01-26  4507.0   636.0
2017-01-27  2875.0  4734.0
2017-01-28  -622.0  2054.0
2017-01-29     NaN -2594.0
2017-01-30   465.0     NaN
2017-01-31   740.0   -20.0
2017-02-01  -907.0     NaN
2017-02-02  4498.0 -4388.0
2017-02-03  1080.0  4096.0
2017-02-04     NaN   499.0
2017-02-05   852.0     NaN
2017-02-06  3947.0 -2023.0
2017-02-07  -268.0  4569.0
2017-02-08  -487.0     NaN
2017-02-09  1881.0  -952.0
2017-02-10   707.0  1141.0
2017-02-11     NaN  1614.0
2017-02-12     NaN     NaN
2017-02-13   382.0     NaN
2017-02-14  1617.0     NaN
2017-02-15   935.0   765.0
2017-02-16  3971.0 -3012.0
2017-02-17  1008.0  4239.0
2017-02-18     NaN  1495.0
2017-02-19     NaN     NaN

In [187]:
reload(common)

c = b.groupby('TS_ID').apply(common.MACD, 'Target', 7, 14)
c.head(25)

,TS_ID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,cos_qtr,is_weekend,is_nat_holiday,is_holiday,holidays_in_last_10_days,t-5,t-6,5_day_rolling_mean,M10,7_14_MACD
2017-01-01,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-02,TS0,ABC0,XYZ2,3750.0,0.0,3000.0,750.0,750.0,0.0,0.0,...,6.123234e-17,0.0,1.0,1.0,9.0,37.0,NaN,NaN,NaN,0.000000
2017-01-03,TS0,ABC0,XYZ2,5639.0,2131.0,1607.0,787.0,328.0,1672.0,1016.0,...,6.123234e-17,0.0,0.0,0.0,19.0,53.0,NaN,125.000000,NaN,63.816667
2017-01-04,TS0,ABC0,XYZ2,6332.0,1504.0,1425.0,158.0,317.0,1583.0,369.0,...,6.123234e-17,0.0,0.0,0.0,19.0,283.0,NaN,398.500000,NaN,128.836944
2017-01-05,TS0,ABC0,XYZ2,6063.0,1365.0,1937.0,222.0,286.0,1079.0,698.0,...,6.123234e-17,0.0,0.0,0.0,19.0,313.0,NaN,563.000000,NaN,72.072227
2017-01-06,TS0,ABC0,XYZ2,5411.0,2785.0,1108.0,918.0,918.0,1234.0,696.0,...,6.123234e-17,0.0,0.0,0.0,19.0,67.0,NaN,442.250000,NaN,85.156086
2017-01-07,TS0,ABC0,XYZ2,7821.0,1026.0,128.0,1282.0,0.0,2179.0,128.0,...,6.123234e-17,1.0,0.0,1.0,19.0,10.0,NaN,459.600000,NaN,11.955392
2017-01-08,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.955392
2017-01-09,TS0,ABC0,XYZ2,5484.0,2375.0,1496.0,59.0,792.0,1672.0,1320.0,...,6.123234e-17,0.0,0.0,0.0,45.0,20.0,672.0,338.500000,NaN,305.419599
2017-01-10,TS0,ABC0,XYZ2,6703.0,1063.0,1608.0,490.0,736.0,1335.0,436.0,...,6.123234e-17,0.0,0.0,0.0,45.0,322.0,892.0,648.500000,NaN,151.590764
2017-01-11,TS0,ABC0,XYZ2,6129.0,1848.0,1554.0,411.0,821.0,1466.0,909.0,...,6.123234e-17,0.0,0.0,0.0,45.0,170.0,80.0,593.500000,NaN,124.248997
2017-01-12,TS0,ABC0,XYZ2,5855.0,1513.0,1645.0,493.0,428.0,1678.0,592.0,...,6.123234e-17,0.0,0.0,0.0,36.0,2.0,529.0,592.750000,401.0,172.685214
2017-01-13,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,457.0,172.685214
2017-01-14,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172.685214
2017-01-15,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172.685214
2017-01-16,TS0,ABC0,XYZ2,6331.0,1450.0,1598.0,207.0,533.0,1331.0,621.0,...,6.123234e-17,0.0,0.0,0.0,49.0,442.0,-140.0,827.500000,NaN,-62.284508
2017-01-17,TS0,ABC0,XYZ2,5439.0,2222.0,1550.0,263.0,965.0,1170.0,731.0,...,6.123234e-17,0.0,0.0,0.0,49.0,390.0,526.0,516.500000,51.0,170.151131
2017-01-18,TS0,ABC0,XYZ2,7278.0,1124.0,828.0,89.0,621.0,1420.0,917.0,...,6.123234e-17,0.0,0.0,0.0,37.0,7.0,1129.0,1090.000000,NaN,101.479258
2017-01-19,TS0,ABC0,XYZ2,6981.0,778.0,1580.0,566.0,425.0,1486.0,330.0,...,6.123234e-17,0.0,0.0,0.0,23.0,203.0,NaN,873.666667,-1691.0,4.459899
2017-01-20,TS0,ABC0,XYZ2,5657.0,1800.0,1971.0,943.0,486.0,914.0,400.0,...,6.123234e-17,0.0,0.0,0.0,23.0,153.0,NaN,660.500000,161.0,-29.934681
2017-01-21,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-258.0,-29.934681
2017-01-22,TS0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-29.934681
2017-01-23,TS0,ABC0,XYZ2,6333.0,1750.0,1194.0,167.0,500.0,1806.0,694.0,...,6.123234e-17,0.0,0.0,0.0,50.0,405.0,2276.0,243.333333,NaN,110.698566
2017-01-24,TS0,ABC0,XYZ2,6387.0,949.0,2409.0,146.0,0.0,1241.0,401.0,...,6.123234e-17,0.0,0.0,0.0,50.0,329.0,441.0,481.666667,NaN,86.039180
2017-01-25,TS0,ABC0,XYZ2,5907.0,2005.0,1593.0,522.0,879.0,1236.0,467.0,...,6.123234e-17,0.0,0.0,0.0,33.0,155.0,21.0,691.333333,NaN,-30.624061

In [190]:
c.loc[df['TS_ID']=='TS1', ['Target', '7_14_MACD']].head(50)

            Target   7_14_MACD
2017-01-01     NaN         NaN
2017-01-02     NaN         NaN
2017-01-03  3218.0    0.000000
2017-01-04  2760.0  -53.433333
2017-01-05  -322.0 -445.950556
2017-01-06  3343.0 -258.638398
2017-01-07  -601.0 -588.397549
2017-01-08     NaN -588.397549
2017-01-09  2428.0 -391.810190
2017-01-10 -1960.0 -795.978998
2017-01-11   409.0 -755.772756
2017-01-12  2464.0 -464.696274
2017-01-13  4920.0   26.526649
2017-01-14     NaN   26.526649
2017-01-15     NaN   26.526649
2017-01-16   -55.0 -425.701489
2017-01-17  -227.0 -551.302509
2017-01-18   821.0 -492.299756
2017-01-19  1972.0 -303.254641
2017-01-20  2836.0  -69.466828
2017-01-21   485.0 -189.472522
2017-01-22     NaN -189.472522
2017-01-23  3481.0  178.861829
2017-01-24   402.0  -29.338357
2017-01-25   581.0 -142.807199
2017-01-26  4507.0  246.231626
2017-01-27  2875.0  300.499142
2017-01-28  -622.0  -82.226944
2017-01-29     NaN  -82.226944
2017-01-30   465.0 -244.944715
2017-01-31   740.0 -270.325306
2017-02-01  -907.0 -469.961846
2017-02-02  4498.0   46.523130
2017-02-03  1080.0  -18.079072
2017-02-04     NaN  -18.079072
2017-02-05   852.0 -110.053893
2017-02-06  3947.0  216.965289
2017-02-07  -268.0  -69.454419
2017-02-08  -487.0 -278.862082
2017-02-09  1881.0 -129.414994
2017-02-10   707.0 -164.927220
2017-02-11     NaN -164.927220
2017-02-12     NaN -164.927220
2017-02-13   382.0 -271.120692
2017-02-14  1617.0 -139.545911
2017-02-15   935.0 -128.937440
2017-02-16  3971.0  236.455981
2017-02-17  1008.0  120.396505
2017-02-18     NaN  120.396505
2017-02-19     NaN  120.396505